service vendor.graphics.composer3 /vendor/bin/hw/android.hardware.graphics.composer3-service.royd
    class hal animation
    user system
    group graphics
    interface aidl android.hardware.graphics.composer3.IComposer/default
